<!DOCTYPE html>
<!-- xmlns=xml네임스페이스 , th=타임리프 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2> 상품 설명 </h2>
	<table>
		<thead>
			<tr>
				<td>상품번호</td><td>상품이름</td><td>설명</td><td>가격</td><td>등록일</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemDto,status : ${itemList}">
				<td th:text="${status.index}"></td>
				<td th:text="${itemDto.itemNm}"></td>
				<td th:text="${itemDto.itemDetail}"></td>
				<td th:text="${itemDto.price}"></td>
				<td th:text="${itemDto.regTime}"></td>
			</tr>
		</tbody>
	
	</table>

	<hr>
</body>
</html>