<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>레이아웃</title>
	<link rel="stylesheet" th:href="@{/bootstrap.min.css}" type="text/css">
</head>
<body>
	<!-- 네비게이션바 -->
	<nav th:replace="~{navbar::navbar_above}"></nav>

	<!-- 기본템플릿에 삽입되는 내용 -->
	<th:block layout:fragment="content"></th:block>
	
	<!-- 부트스트랩JS -->
	<script th:src="@{/bootstrap.min.js}"></script>
	<!-- 자바스크립트 -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>